
@{
    ViewData["Title"] = "Denied";
}

<h2>Usuario sin permisos</h2>
<center>
    <img src="~/images/error401.jpg" alt="No authorizado" width="950" height="500">
</center>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}