@model LoginViewModels

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}

<center>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="panel  panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Iniciar sesión</h2>
                    </div>
                    <div class="panel-body">
                        <section>
                            <form asp-controller="Login" asp-action="Index" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group  text-left">
                                    <label asp-for="Input.Username"></label>
                                    <input asp-for="Input.Username" class="form-control" />
                                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                                </div>
                                <div class="form-group  text-left">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Iniciar sesión</button>
                                </div>
                            </form>
                        </section>
                    </div>
                    </div>
                    <label id="indexMessage" class="error">@Html.DisplayFor(m => m.ErrorMessage)</label>
                </div>
            </div>
    </div>
</center>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}