@model IEnumerable<WebPihare.Entities.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Clientes</h2>

<p>
    <a asp-action="Create">Nuevo Cliente</a>
</p>

<div class="demo-container">
    <div id="clientGrid"></div>
</div>

<script>

    $.ajax({
        url: '@Url.Action("LoadGrid", "Clients")',
        type: "GET"
    }).done(function (response) {

        var dataSourceMaster = response.master;
        var dataSourceDetail = response.detail;

        $(function(){
            $("#clientGrid").dxDataGrid({
                dataSource: dataSourceMaster,
                keyExpr: "clientId",
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                columnChooser: {
                enabled: true
                },
                filterRow: {
                    visible: true,
                },
                headerFilter: { visible: true },
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 25, 50, 100]
                },
                selection: {
                    mode: "single"
                },
                grouping: {
                    autoExpandAll: true
                },
                headerFilter: {
                    visible: true
                },
                groupPanel: {
                    visible: true
                },
                "export": {
                    enabled: true,
                    fileName: "RegistroClientes"+Date.now(),
                    allowExportSelectedData: true
                },
                columns: [
                    {
                        dataField: "clientId",
                        visible: false
                    },
                    {
                        dataField: "firstName",
                        caption: 'Nombre'
                    },
                    {
                        dataField: "lastName",
                        caption: 'Apellido Paterno'
                    },
                    {
                        dataField: "secondLastName",
                        caption: 'Apellido Materno'
                    },
                    {
                        dataField: "CI",
                        caption: 'CI'
                    },
                    {
                        dataField: "registredDate",
                        caption: 'Fecha Registrado'
                    },
                    {
                        dataField: "commisionerFullName",
                        caption: 'Nombre Comisionista'
                    },
                    {
                        dataField: "observation",
                        caption: 'Observaciones'
                    },                    
                    {
                        dataField: "Acciones",
                        caption: 'Acciones',
                        cellTemplate: function (container, options) {
                            var wrapper = $("<center>");
                            var DetailsContainer = $("<div>");
                            var DeleteContainer = $("<div>");

                            container.append(wrapper.append(DetailsContainer));

                            DetailsContainer.dxButton({
                                hint: 'Detalles',
                                type: "default",
                                icon: 'glyphicon glyphicon-list',
                                width: 50,
                                onClick: function () {
                                    var url = "@Url.Action("Details","Clients")/" + options.data.ClientId;
                                    window.location.href = url;
                                }
                            });

                            container.append(wrapper.append(DeleteContainer));

                            DeleteContainer.dxButton({
                                hint: 'Editar',
                                type: 'danger',
                                icon: 'glyphicon glyphicon-trash',
                                width: 50,
                                onClick: function () {
                                    var url = "@Url.Action("Delete","Clients")/" + options.data.ClientId;
                                    window.location.href = url;
                                }
                            });

                        }
                    }
                ],
                masterDetail: {
                enabled: true,
                    template: function (container, options)
                    {
                    var currentClientData = options.data;
                        $("<div>")
                            .addClass("master-detail-caption")
                            .text("Departamentos de " + currentClientData.firstName + " " + currentClientData.lastName)
                            .appendTo(container);

                        $("<div>")
                            .dxDataGrid({
                                columnAutoWidth: true,
                                showBorders: true,
                                columns: [
                                {
                                    dataField: "clientId",
                                    visible: false
                                },
                                {
                                    dataField: "departmentId",
                                    visible: false
                                },
                                {
                                    dataField: "departmentCode",
                                    caption: 'Codigo Departamento'
                                },
                                {
                                    dataField: "numberFloor",
                                    caption: 'Piso'
                                },
                                {
                                    dataField: "numberBedrooms",
                                    caption: 'Dormitorios'
                                },
                                {
                                    dataField: "deparmentPrice",
                                    caption: 'Precio'
                                }
                                ],
                        dataSource: new DevExpress.data.DataSource({
                            store: new DevExpress.data.ArrayStore({
                                key: "departmentId",
                                data: dataSourceDetail
                            }),
                            filter: ["clientId", "=", options.key]
                        })
                        }).appendTo(container);
                    }
                }
            });
        });

    });
</script>